/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/*-----------------------------
    common style or utilities 
 ------------------------------*/
.body{
    font-family: 'Poppins', sans-serif;
    background-color: #AAAAAA;
}
main{
    align-items: center;
}
.left{
    margin-left:40px ;
}
.influencer{
    display: flex;
}
.font-headline{
    font-size: 50px;
}
.half-width{
    width: 50%;
    margin-left: 40px;
}
.pre-book, a{
    text-decoration: none;
    background-color:rgb(231, 61, 95);
    color: white;
    width: 22%;
    border-radius: 15px;
    padding: 5px;
}
 .half-width:hover .camera{
    transform: scale(1.5);
    transition: transform 2s ease-in-out;
}
/*---------------------------
   Popular collection style 
 ----------------------------*/
.container{
    display: flex;
    justify-content: center;
    margin-top: 70px;
    
}
 .collection{
    width: 1048.31px;
    height: 1550px;
    left: 275px;
    top: 891px;
    background-color: #f1eeee;
    border-radius: 5px;
}
    

.section-title{
    text-align: center;
}
 .image img{
     width: 300px;
     height: 256px;
     border-radius: 5px;
     padding-top: 10px;
    

}
.collection-info{
    line-height: 18px;
}  
.ratings{
    color: #FB8200; 
   
}
.convenience, span{
    line-height: 3px;
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    color: #787885;
}
.items{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    
    
    
}
.item{
    background-color: #FFFFFF; 
    width: 329px;
    height: 476px;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.15);;
    margin: 10px 10px;
    border-radius: 5px;
    display: grid;
    justify-content: center;

}
.see{
    display: flex;
    align-items: center;
    margin-left: 90%;
    color:rgb(231, 61, 95);
}
.see i{
    padding-left: 5px;
}

article{
    display: flex;
    margin-top: 60px;
    border-radius: 5px;
    padding: 10px;
}
.book, a{
    text-decoration: none;
    background-color:rgb(231, 61, 95);
    color: white;
    width: 13%;
    border-radius: 15px;
    padding: 5px;
}
.full-width{
    width: 50%;
    border-radius: 5px;
}
/* Footer style */
footer{
    background-color: rgb(27, 26, 26);
    color:rgb(175, 167, 167);
    margin-top: 60px;
    text-align: center;
    padding: 40px;
    
}
.copyright> h2{
color: white;
}

.copyright{
    margin-bottom: 30px;
   line-height: 1px;
}
.symbols i{
  padding-left: 15px;
}

/*--------------------
     Media Queries 
--------------------*/

/* Mobile devices */
@media only screen and (max-width:688px) {
    .influencer{
      
        grid-template-columns: repeat(1, 1fr);
        flex-direction: column;  
    }
    .half-width> .camera{
       width: 130%;
   }
   .responsive{
       width: 80%;
   }
   .section-title{
       margin-right: 130px;
   }
   .items{
    grid-template-columns: repeat(1, 1fr); 
    flex-direction: column;
    
   }
   .item{
      margin-right: 20px;
   }
   .collection{
      height:auto ;
      width:auto;
  }
  /* .image{
      margin-right: 20px;
  } */
  article{
    grid-template-columns: repeat(1, 1fr); 
    flex-direction: column; 
    margin-right: 30px;
  }
  .full-width{
      width: 100%;
  }
  .font-headline{
      font-size: 30px;
  }
footer{
    width: 60%;  
    height:170px; 
}
  .copyright{
      margin-right: 20px;
      line-height: 20px;
  }
  .symbols{
      margin-right:20px ;
  }
}

   
   
    
    
